[Unit]
DefaultDependencies=no
Before=local-fs.target
After=local-fs-pre.target

[Mount]
What=/dev/disk/by-partlabel/boot
Where=/boot
Type=ext4
Options=ro
