[Unit]
Description=set cpu governor
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cpu-governor.sh
SmackProcessLabel=system-plugin-exynos::script
