[Unit]
Description=File System Check on %f
DefaultDependencies=no
BindsTo=%i.device
After=%i.device
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/sbin/e2fsck -y -f %f
StandardOutput=journal+console
TimeoutSec=0
SuccessExitStatus=0 1
