[Unit]
Description=Resize of File System on the Root Device
DefaultDependencies=no
Before=local-fs.target shutdown.target

[Service]
Type=oneshot
ExecStartPre=/bin/mount -o remount,rw /
ExecStart=/bin/bash -c "/usr/bin/resize2fs_by_partlabel.sh rootfs"
ExecStartPost=/bin/ln -s /dev/null /etc/systemd/system/resize2fs-root.service
StandardOutput=journal+console
TimeoutSec=0
